// General

.budget-investment-new, .budget-investment-show {
  margin-top: rem-calc(50);
}

.custom-phases-nav {
  left: 0;
  position: relative;
  text-align: center;
  width: 100%;

  .tabs {
    display: inline-block;

    .active-phase {
      // TODO: make it shiny
      > a {
        color: $minsk !important;
      }
    }
  }
}

// Login / Registration

.auth-page {
  background-image: linear-gradient(-226deg, #f0b9ad 0%, #272266 100%);

  h1 {
    margin-top: rem-calc(60);
    text-align: center;
  }

  h2 {
    color: $rhino;
    font-weight: 400;
    margin-bottom: rem-calc(35);
    text-align: center;

    font-size: rem-calc(30);
    line-height: 37px;

  }

  a:not(.page-title):not(.action-button):not(.site-title) {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  .button-oauth-login {
    text-decoration: none !important;

    &:hover {
      text-decoration: underline !important;
    }
  }

  .smaller-text {
    font-size: $tiny-font-size;
  }

  .button-holder {
    text-align: center;
  }

  .checkbox {
    font-size: 14px;
  }
}

.auth-form {
  background-color: $white;
  border: 1px solid #d7d7d7;
  border-radius: 10px;
  margin-bottom: rem-calc(100);
  opacity: 0.99;

  .auth-form-content {
    margin: rem-calc(30);
  }
}

.auth-divider {
  border-bottom: 1px solid $border;
  height: rem-calc(14);
  margin: $line-height 0;
  text-align: center;

  &.custom-divider {
    border-bottom: 1px solid $minsk;
  }

  span {
    font-size: 20px;
    font-weight: 700;
    line-height: 17px;

    background: #fff;
    padding: 0 $line-height / 2;
  }
}

// Main graphics

.no-budget {
  padding-top: rem-calc(100);
  text-align: center;
  width: 100%;

  img {
    height: 500px;
    width: auto;
  }
}

.phase-enrichment {
  background: image-url('custom_phases.png') no-repeat;
  background-size: 960px 270px;

  &.accepting {
    background-position: -319px -10px;
    height: 249px;
    width: 295px;
  }

  &.selecting {
    background-position: -319px -10px;
    height: 249px;
    width: 295px;
  }

  &.balloting {
    background-position: -3px -7px;
    height: 256px;
    width: 282px;
  }

  &.finished {
    background-position: -659px -9px;
    height: 251px;
    width: 296px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-resolution: 240dpi) {
  .phase-enrichment {
    background: image-url('custom_phases@2x.png') no-repeat;
    background-size: 960px 270px;
  }
}

// Landing page

.welcome-columns {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .welcome-column {
    background-image: linear-gradient(-29deg, #40358f 0%, #32366a 100%);
    color: $white;
    flex-grow: 1;
    flex-basis: 0;
    margin: 0;
    position: relative;

    a {
      color: $white;

      &:hover {
        color: $white;
      }
    }

    .linkable:hover .action-button {
      background-color: $mandys-pink-hover;
      color: $black;
    }

    .column-content {
      padding: rem-calc(50) rem-calc(50) rem-calc(90) rem-calc(50);

      h1 {
        letter-spacing: 2px;
        margin-bottom: rem-calc(30);
        text-align: center;
      }

      h2 {
        margin-bottom: rem-calc(30);
      }

      .action-button {
        color: $black;
        margin-top: rem-calc(20);
      }
    }

    .phase-enrichment-holder {
      margin-top: rem-calc(50);
      position: relative;
      text-align: center;
      width: 100%;

      .phase-enrichment {
        margin: 0 auto;
        position: relative;
      }
    }

    /*
    &.accepting {
      background-image: linear-gradient(-29deg, #40358f 0%, #32366a 100%);
    }

    &.selecting {
      background-image: linear-gradient(to top, #433a9c 0%, #3a3a7a 100%);
    }

    &.balloting {
      background-image: linear-gradient(to top, #4b3ea8 0%, #3d4281 100%);
    }

    &.finished {
      background-image: linear-gradient(-21deg, #594bbd 0%, #484e98 100%);
    }
    */
  }
}

// Investments index

.phase-title {
  color: #32366a;
  font-weight: 800;
}

.phase-description {

  h1 {
    margin-bottom: rem-calc(30);
  }

  h2 {
    line-height: 1.2em;
  }

  .column {
    padding: 0;
    position: relative;

    .large-description {
      margin-bottom: 0;
    }

    .action-button {
      margin: rem-calc(30) 0 rem-calc(20) 0;
    }

    .phase-enrichment-holder {
      overflow: hidden;
      position: absolute;
      text-align: center;
      top: rem-calc(20);
      width: 100%;

      .phase-enrichment {
        margin: 0 auto;
        position: relative;
      }
    }
  }
}

.progress-bar-nav {
  background-color: $alabaster;

  .progress {
    background-color: $prelude;

    .progress-meter {
      background-color: $minsk;
    }
  }
}

.budget-investments {
  .phase-title {
    margin: rem-calc(30) 0 rem-calc(20) 0;
  }

  .budget-investment-holder {
    .budget-investment {
      border: 1px solid #d7d7d7;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.21);

      .budget-investment-content {
        padding: rem-calc(15);

        a {
          color: $rhino;
        }

        .investment-title {
          color: $black;

          h3 {
            line-height: rem-calc(23);
            height: rem-calc(72);
          }

          &:hover {
            color: $rhino;
          }
        }

        .investment-project-info {
          font-size: rem-calc($tiniest-font-size);
          margin-bottom: 0;
        }

        .investment-project-description {
          line-height: rem-calc(24);
          height: rem-calc(72);
          margin-bottom: rem-calc(10);
        }

        .tags {
          margin-bottom: 0;

          a {
            margin-bottom: 0;
          }
        }
      }

      .panel {
        min-height: rem-calc(192);
        padding: 0 rem-calc(15) 0;
      }

      .image-holder {
        text-align: center;

        img {
          height: 205px;
          width: 100%;
        }
      }
    }
  }
}

// Investment show

.flag-content {
  margin-left: rem-calc(10);
  font-size: $tiniest-font-size;

  a {
    text-decoration: underline;
  }
}

.budget-investment-show {
  p {
    font-size: $large-font-size;
  }

  figcaption {
    font-size: $small-font-size;
  }

  .map {
    pointer-events: none;
  }

  .tags {
    margin-left: rem-calc(10);
  }

  .image-preview {
    margin-bottom: rem-calc(40);

    img {
      height: rem-calc(385);
      width: 100%;
    }
  }

  .budget-investment-info {
    margin-top: rem-calc(20);
  }

  .social-box {
    .column {
      .column-content {
        background-color: $alabaster;
        border-radius: 10px;
        padding: rem-calc(20) 0;
        text-align: center;
      }
    }
  }
}

// Comments

.milestones {
  border-left: 1px solid #CCCCCC;
  font-size: $small-font-size;
  list-style: none;
  margin-left: rem-calc(20);
  padding-left: rem-calc(30);

  li {
    &::before {
      background-color: $rhino;
      border-radius: rem-calc(20);
      content: ' ';
      height: rem-calc(20);;
      margin-left: rem-calc(-40);
      margin-top: rem-calc(12);
      position: absolute;
      width: rem-calc(20);;
    }
  }
}

// New investment

.budget-investment-new {
  .form {
    margin-bottom: rem-calc(20);

    h2 {
      color: $rhino;
      font-weight: 700;
    }

    label {
      display: inline-block;
    }

    .help-text {
      display: inline;

      &:before {
        content: ' ';
      }
    }

    .js-image-attachment, .js-document-attachment {
      visibility: hidden;
    }

    .images {
      .button {
        margin-top: 0;
      }
    }

    .documents {
      margin: rem-calc(20) 0;
    }

    .actions {
      margin: rem-calc(20) 0;
    }
  }

  .sidebar {
    .back {
      visibility: hidden;
    }
  }

  .js-tag-list {
    display: none;
  }
}

// Account page

.account {
  .tabs {
    margin: rem-calc(30) 0;
  }

  .change-credentials {
    margin-top: rem-calc(20);
  }

  .action-buttons {
    margin-top: rem-calc(30);
    margin-bottom: rem-calc(200);
  }

  .delete {
    margin-left: rem-calc(10);
  }
}

// Help

.help {
  .tabs {
    margin: rem-calc(30) 0;
  }

  .technical-issues {
    border: 1px solid $rhino;
    display: inline-block;
    margin: rem-calc(100) 0 rem-calc(20) rem-calc(10);
    padding: 20px;
  }
}

// Privacy

.privacy {
  ol {
    margin: rem-calc(20) rem-calc(15);

    & > li {
      margin-bottom: rem-calc(20);
    }
  }
}

@media screen and (max-width: 800px) {
  .welcome-columns .welcome-column {
    flex-grow: 0;
    flex-basis: 100%;
  }
}

.action-button.large {
  //width: 100%;

  text-align: center;
  color: #272266;
  background-image: linear-gradient(80deg, #f0b9ad 0%, #f0b9ad 51%, #f2d6d0 100%);
  border-radius: 36px;
  box-shadow: 0 0 16px rgba(50, 54, 106, 0.25);
  //min-width: 323px;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  .custom-icon.arrow-small-right {
    color: #272266;
    margin-left: 10px;
  }
}

.welcome-columns {
  .action-button.large {
    min-width: 100%;
    box-shadow: 0 0 15px #32366a;
  }
  .welcome-column .column-content h1 {
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 2.4px;
    line-height: 37px;
    margin-bottom: 47px;
  }
  .welcome-column .column-content h2 {
    font-weight: 600;
    line-height: 35px;
  }
  .large-description {

  }
}

select {
  background: image-url('dropdown-triangle-small.png') #fff no-repeat 96% 50%;
  border: 2px solid #e1e1e1;
  border-radius: 4px;
  height: 40px;
  &.on-view {
    border: 1px solid #e1e1e1;
  }
}

.custom-phases-nav {

  .tabs h2, .tabs h3 {
    color: #32366a;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px;
  }
  .tabs span {
    color: #32366a;
    font-size: 16px;
    font-weight: 300;
    line-height: 17px;
    padding-top: 16px;
    display: block;
  }
  .tabs a h3 i {
    height: 20px;
    display: block;
    line-height: 20px;
    float: left;
  }
  .tabs .active-phase a h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 17px;
    text-transform: uppercase;

    display: inline-block;
    padding: 10px 15px 10px 10px;
    i {
      background: image-url('checkblue.png') left no-repeat;
      width: 30px;
    }
  }
  .tabs .is-active a h3 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 17px;
    text-transform: uppercase;

    display: inline-block;
    padding: 10px 15px 10px 10px;

    border-radius: 20px;
    background-image: linear-gradient(to right, #f0b9ad 0%, #272266 100%);

    i {
      background: image-url('check.png') left no-repeat;
      width: 30px;
    }
  }
  .tabs .tabs-title > a[aria-selected='true'], .tabs .tabs-title > a.is-active, .tabs .tabs-title > a:hover {
    background: none;
  }
  .tabs {
    width: 100%;
    border-left: 2px solid #f0b9ad;
    li {
      border-right: 2px solid #f0b9ad;
      width: 24.8%;
    }
  }
}

.budget-investments .budget-investment-holder .budget-investment .budget-investment-content .investment-title h3 {
  height: auto;
}

.home-page footer {
  background: #e1e1e1;
}

footer {
  height: max-content;
  .logo-holder {
    padding-left: 0;
  }
  .loginlinks {
    a {
      color: #272266;
      font-size: 14px;
      font-weight: 700;

      padding: 7px 17px;
      display: inline;
      margin: 0 10px 0 0;

      box-shadow: 0 0 8px rgba(50, 54, 106, 0.25);
      border-radius: 20px;
      background-image: linear-gradient(80deg, #f0b9ad 0%, #f0b9ad 51%, #f2d6d0 100%);
    }
  }
  .footer-links {
    padding: 20px 0;
    margin: 0;
  }
  .logo {
    margin-top: 0.375rem;
  }
  .main-indented-content {
    margin: 0 rem-calc(150);
  }
  .main-indented-content {
    padding: rem-calc(20) 0;
  }
}

.bgblue {
  background-color: #32366a;
}

/*************/
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

[type="checkbox"]:not(:checked) + span,
[type="checkbox"]:checked + span {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + span:before,
[type="checkbox"]:checked + span:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1.25em;
  height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + span:after,
[type="checkbox"]:checked + span:after {
  content: '\2714\0020';
  position: absolute;
  top: 0.6em;
  left: .2em;
  font-size: 1em;
  line-height: 0.1;
  color: #272266;
  transition: all .2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + span:after {
  opacity: 0;
  transform: scale(0);
}

[type="checkbox"]:checked + span:after {
  opacity: 1;
  transform: scale(1);
}

/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + span:before,
[type="checkbox"]:disabled:checked + span:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

[type="checkbox"]:disabled:checked + span:after {
  color: #999;
}

[type="checkbox"]:disabled + span {
  color: #aaa;
}

/* accessibility */
[type="checkbox"]:checked:focus + span:before,
[type="checkbox"]:not(:checked):focus + span:before {
  border: 2px dotted blue;
}

/* hover style just for information */
span:hover:before {
  border: 2px solid #272266 !important;
}

.footer {
  position: initial;
}

.welcome-columns {
  .welcome-column {
    background-image: linear-gradient(to top, #32366a 0%, #40358f 100%);
    .linkable {
      background-image: linear-gradient(-21deg, #594bbd 0%, #484e98 100%) !important;
      display: inline-block;
    }
  }
}


form label{
  color: #000000;
  font-size: rem-calc(18);
  font-weight: 400;
  line-height: rem-calc(26);
}

.action-button.huge{
  box-shadow: 0 0 8px rgba(50, 54, 106, 0.25);
  border-radius: 36px;
  background-image: linear-gradient(80deg, #f0b9ad 0%, #f0b9ad 51%, #f2d6d0 100%);

  color: #272266;
  font-size: rem-calc(30);
  font-weight: 700;
  line-height: rem-calc(40);

  margin: 10px;
}

.auth-page {
  .site-title-holder {
    line-height: $line-height;
    margin: rem-calc(60) 0 auto 0;
    padding: rem-calc(10) 0;
    text-align: center;
    color: $rhino;

    .site-title {
      font-size: rem-calc(30);
      font-weight: 600;
      line-height: 40.5px;

      .site-name {
        font-weight: 600;
      }
      .place-name{
        font-weight: 300;

      }
    }
  }
}
