// General

.budget-investment-new, .budget-investment-show {
  margin-top: rem-calc(50);
}

.custom-phases-nav {
  left: 0;
  position: relative;
  text-align: center;
  width: 100%;

  .tabs {
    display: inline-block;

    .active-phase {
      // TODO: make it shiny
      > a {
        color: $minsk !important;
      }
    }
  }
}

// Login / Registration

.auth-page {
  .wrapper {
    background-image: linear-gradient(-226deg, #f0b9ad 0%, #272266 100%);

  }
  h1 {
    margin-top: rem-calc(60);
    text-align: center;
  }

  h2 {
    color: $rhino;
    font-weight: 800;
    margin-bottom: rem-calc(35);
    text-align: center;

    font-size: rem-calc(30);
    line-height: 37px;

  }

  a:not(.page-title):not(.action-button):not(.site-title) {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  .button-oauth-login {
    text-decoration: none !important;

    &:hover {
      text-decoration: underline !important;
    }
  }

  .smaller-text {
    font-size: $tiny-font-size;
  }

  .button-holder {
    text-align: center;
  }

  .checkbox {
    font-size: 14px;
  }
}

.auth-form {
  background-color: $white;
  border: 1px solid #d7d7d7;
  border-radius: 10px;
  margin-bottom: rem-calc(100);
  opacity: 0.99;

  .auth-form-content {
    margin: rem-calc(30);
  }
}

.auth-divider {
  border-bottom: 1px solid $border;
  height: rem-calc(14);
  margin: $line-height 0;
  text-align: center;

  &.custom-divider {
    border-bottom: 1px solid $minsk;
  }

  span {
    font-size: 20px;
    font-weight: 700;
    line-height: 17px;

    background: #fff;
    padding: 0 $line-height / 2;
  }
}

// Main graphics

.no-budget {
  padding-top: rem-calc(100);
  text-align: center;
  width: 100%;

  img {
    height: 500px;
    width: auto;
  }
}

.phase-enrichment {
  background: image-url('custom_phases.png') no-repeat;
  background-size: 960px 270px;

  &.accepting {
    background-position: -319px -10px;
    height: 260px;
    width: 295px;
  }

  &.selecting {
    background-position: -319px -10px;
    height: 260px;
    width: 295px;
  }

  &.balloting {
    background-position: -3px -7px;
    height: 260px;
    width: 282px;
  }

  &.finished {
    background-position: -659px -9px;
    height: 260px;
    width: 296px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-resolution: 240dpi) {
  .phase-enrichment {
    background: image-url('custom_phases@2x.png') no-repeat;
    background-size: 960px 270px;
  }
}

// Landing page

.welcome-columns {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .welcome-column {
    background-image: linear-gradient(-29deg, #40358f 0%, #32366a 100%);
    color: $white;
    flex-grow: 1;
    flex-basis: 0;
    margin: 0;
    position: relative;

    a {
      color: $white;

      &:hover {
        color: $white;
      }
    }

    .linkable:hover .action-button {

    }

    .column-content {
      padding: rem-calc(50) rem-calc(50) rem-calc(90) rem-calc(50);

      h1 {
        letter-spacing: 2px;
        margin-bottom: rem-calc(30);
        text-align: center;
      }

      h2 {
        margin-bottom: rem-calc(30);
      }

      .action-button {
        margin-top: rem-calc(20);
      }
    }

    .phase-enrichment-holder {
      margin-top: rem-calc(50);
      position: relative;
      text-align: center;
      width: 100%;

      .phase-enrichment {
        margin: 0 auto;
        position: relative;
      }
    }

    /*
    &.accepting {
      background-image: linear-gradient(-29deg, #40358f 0%, #32366a 100%);
    }

    &.selecting {
      background-image: linear-gradient(to top, #433a9c 0%, #3a3a7a 100%);
    }

    &.balloting {
      background-image: linear-gradient(to top, #4b3ea8 0%, #3d4281 100%);
    }

    &.finished {
      background-image: linear-gradient(-21deg, #594bbd 0%, #484e98 100%);
    }
    */
  }
}

// Investments index

.phase-title {
  color: #32366a;
  font-weight: 800;
}

.phase-description {

  margin-top: 3.25rem;
  h1 {
    margin-bottom: rem-calc(30);
    line-height: rem-calc(70);
  }

  h2 {
    line-height: 1.2em;
  }

  .column {
    padding: 0;
    position: relative;

    .large-description {
      margin-bottom: 0;
    }

    .action-button {
      margin: rem-calc(30) 0 rem-calc(20) 0;
    }

    .phase-enrichment-holder {
      overflow: hidden;
      position: relative;
      text-align: center;
      top: rem-calc(20);
      width: 100%;

      .phase-enrichment {
        margin: 0 auto;
        position: relative;
      }
    }
  }
}

.progress-bar-nav {
  background-color: $alabaster;

  .progress {
    background-color: $prelude;

    .progress-meter {
      background-color: $minsk;
    }
  }
}

.budget-investments {
  .phase-title {
    margin: rem-calc(30) 0 rem-calc(20) 0;
  }

  .budget-investment-holder {
    .budget-investment {
      border: 1px solid #d7d7d7;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.21);

      .budget-investment-content {
        padding: rem-calc(15);

        a {
          color: $rhino;
        }

        .investment-title {
          color: $black;

          h3 {
            line-height: rem-calc(23);
            height: rem-calc(72);
          }

          &:hover {
            color: $rhino;
          }
        }

        .investment-project-info {
          font-size: rem-calc($tiniest-font-size);
          margin-bottom: 0;
        }

        .investment-project-description {
          line-height: rem-calc(24);
          height: rem-calc(72);
          margin-bottom: rem-calc(10);
        }

        .tags {
          margin-bottom: 0;

          a {
            margin-bottom: 0;
          }
        }
      }

      .panel {
        min-height: rem-calc(192);
        padding: 0 rem-calc(15) 0;
      }

      .image-holder {
        text-align: center;

        img {
          height: auto;
          width: 100%;
        }
      }
    }
  }
}

// Investment show

.flag-content {
  margin-left: rem-calc(10);
  font-size: $tiniest-font-size;

  a {
    text-decoration: underline;
  }
}

.budget-investment-show {
  p {
    font-size: $large-font-size;
  }

  figcaption {
    font-size: $small-font-size;
  }

  .map {
    pointer-events: none;
  }

  .tags {
    margin-left: rem-calc(10);
  }

  .image-preview {
    margin-bottom: rem-calc(40);

    img {
      height: rem-calc(385);
      width: 100%;
    }
  }

  .budget-investment-info {
    margin-top: rem-calc(20);
  }

  .social-box {
    .column {
      .column-content {
        background-color: $alabaster;
        border-radius: 10px;
        padding: rem-calc(20) 0;
        text-align: center;
      }
    }
  }
}

// Comments

.milestones {
  border-left: 1px solid #CCCCCC;
  font-size: $small-font-size;
  list-style: none;
  margin-left: rem-calc(20);
  padding-left: rem-calc(30);

  li {
    &::before {
      background-color: $rhino;
      border-radius: rem-calc(20);
      content: ' ';
      height: rem-calc(20);;
      margin-left: rem-calc(-40);
      margin-top: rem-calc(12);
      position: absolute;
      width: rem-calc(20);;
    }
  }
}

// New investment

.budget-investment-new {
  .form {
    margin-bottom: rem-calc(20);

    h2 {
      color: $rhino;
      font-weight: 700;
    }

    label {
      display: inline-block;
    }

    .help-text {
      display: inline;

      &:before {
        content: ' ';
      }
    }

    .js-image-attachment, .js-document-attachment {
      visibility: hidden;
    }

    .images {
      .button {
        margin-top: 0;
      }
    }

    .documents {
      margin: rem-calc(20) 0;
    }

    .actions {
      margin: rem-calc(20) 0;
    }
  }

  .sidebar {
    .back {
      visibility: hidden;
    }
  }

  .js-tag-list {
    display: none;
  }
}

// Account page

.account {
  .tabs {
    margin: rem-calc(30) 0;
  }

  .change-credentials {
    margin-top: rem-calc(20);
  }

  .action-buttons {
    margin-top: rem-calc(30);
    margin-bottom: rem-calc(200);
  }

  .delete {
    margin-left: rem-calc(10);
  }
}

// Help

.help {
  .tabs {
    margin: rem-calc(30) 0;
  }

  .technical-issues {
    border: 1px solid $rhino;
    display: inline-block;
    margin: rem-calc(100) 0 rem-calc(20) rem-calc(10);
    padding: 20px;
  }
}

// Privacy

.privacy {
  ol {
    margin: rem-calc(20) rem-calc(15);

    & > li {
      margin-bottom: rem-calc(20);
    }
  }
}

@media screen and (max-width: 800px) {
  .welcome-columns .welcome-column {
    flex-grow: 0;
    flex-basis: 100%;
  }
}

.action-button.large,
.action-button.huge {
  text-align: center;
  color: #272266 !important;
  border-radius: 36px;
  box-shadow: 0 0 16px rgba(50, 54, 106, 0.25);

  font-size: rem-calc(30);
  font-weight: 700;
  line-height: rem-calc(30);
  padding: rem-calc(20) rem-calc(25);

  .custom-icon.arrow-small-right,
  .custom-icon.arrow-large-right {
    color: #272266;
    margin-left: 10px;
  }
}

.action-button.small {
  background: $mandys-pink;
  background-image: none !important;
  color: #000000;
  font-size: 20px;
  font-weight: 500;
}

.action-button.large.w485 {
  min-width: 100%;
}

@media (min-width: 576px) {
  .action-button.large.w485 {
    min-width: 485px;
  }
}

.welcome-columns {
  .action-button.large {
    min-width: 100%;
    box-shadow: 0 0 15px #32366a;
  }
  .welcome-column .column-content h1 {
    font-size: 60px;
    font-weight: 800;
    letter-spacing: 2.4px;
    line-height: 66px;
    margin-bottom: 47px;
  }
  .welcome-column .column-content h2 {
    font-weight: 600;
    line-height: 35px;
  }
  .large-description {

  }
}

select {
  background: image-url('dropdown-triangle-small.png') #fff no-repeat 96% 50%;
  border: 2px solid #e1e1e1;
  border-radius: 4px;
  height: 40px;
  &.on-view {
    border: 1px solid #e1e1e1;
  }
}

.custom-phases-nav {

  box-shadow: 0 4px 43px -10px rgba(0, 0, 0, 0.21);
  .main-indented-content {
    margin: 0 auto;
  }
  .tabs {
    margin: 0.5rem 0 0 0;
  }
  .tabs h2, .tabs h3 {
    color: #32366a;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 7px 10px;
  }
  .tabs span {
    color: #32366a;
    font-size: 16px;
    font-weight: 300;
    line-height: 17px;
    padding-top: 3px;
    display: block;
  }
  .tabs a h3 i {
    height: 20px;
    display: block;
    line-height: 20px;
    float: left;
  }
  .tabs .active-phase a h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 17px;
    text-transform: uppercase;

    display: inline-block;
    padding: 7px 15px 7px 10px;
    i {
      background: image-url('check.svg') left no-repeat;
      width: 30px;
    }
  }
  .tabs .is-active a h3 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 17px;
    text-transform: uppercase;

    display: inline-block;
    padding: 7px 15px;

    border-radius: 20px;
    background-image: linear-gradient(to right, #f0b9ad 0%, #272266 100%);

    i {
      //background: image-url('check.png') left no-repeat;
      //width: 30px;
    }
  }
  .tabs .is-active a span {
    font-weight: 500;
  }
  .tabs .tabs-title > a[aria-selected='true'], .tabs .tabs-title > a.is-active, .tabs .tabs-title > a:hover {
    background: none;
  }
  .tabs {
    width: 100%;
    border-left: 2px solid #f0b9ad;
    li {
      border-right: 2px solid #f0b9ad;
    }
  }
}

.custom-phases-nav .tabs li {
  width: 100%;
}

@media (min-width: 576px) {
  .custom-phases-nav .tabs li {
    width: 24.8%;
  }
}

.budget-investments .budget-investment-holder .budget-investment .budget-investment-content .investment-title h3 {
  height: auto;
}

.budget-investments .budget-investment {
  &:hover {
    box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.3s linear 0s;
    .image-holder {
      background-color: rgba(39, 34, 102, 1);
      img {
        opacity: 0.69;
      }
    }
  }

}

.home-page footer {
  background: #e1e1e1;
}

footer {
  height: max-content;
  .logo-holder {
    padding-left: 0;
  }
  .loginlinks {
    a {
      color: #272266;
      font-size: 14px;
      font-weight: 700;

      padding: 7px 17px;
      display: inline;
      margin: 0 10px 0 0;

      box-shadow: 0 0 8px rgba(50, 54, 106, 0.25);
      border-radius: 20px;
      background-image: linear-gradient(80deg, #f0b9ad 0%, #f0b9ad 51%, #f2d6d0 100%);
    }
  }
  .footer-links {
    padding: 20px 0;
    margin: 0;
  }
  .logo {
    margin-top: 0.375rem;
  }
  .main-indented-content {

  }
}

.bgblue {
  background-color: #32366a;
}

/*************/
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

[type="checkbox"]:not(:checked) ~ span.checkbox,
[type="checkbox"]:checked ~ span.checkbox {
  position: relative;
  padding-top: 3px;
  padding-left: 2.55em;
  cursor: pointer;
  margin-bottom: 15px;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) ~ span.checkbox:before,
[type="checkbox"]:checked ~ span.checkbox:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 29px;
  height: 29px;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) ~ span.checkbox:after,
[type="checkbox"]:checked ~ span.checkbox:after {
  content: "\f00c";
  position: absolute;
  top: 0;
  left: 5px;
  font-size: 20px;
  line-height: 29px;
  color: #3c3583;
  transition: all .2s;
  font-family: "Font Awesome 5 Free";
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) ~ span.checkbox:after {
  opacity: 0;
  transform: scale(0);
}

[type="checkbox"]:checked ~ span.checkbox:after {
  opacity: 1;
  transform: scale(1);
}

/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) ~ span.checkbox:before,
[type="checkbox"]:disabled:checked ~ span.checkbox:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

[type="checkbox"]:disabled:checked ~ span.checkbox:after {
  color: #999;
}

[type="checkbox"]:disabled ~ span.checkbox {
  color: #aaa;
}

/* accessibility */
[type="checkbox"]:checked:focus ~ span.checkbox:before,
[type="checkbox"]:not(:checked):focus ~ span.checkbox:before {

}

/* hover style just for information */
span:hover:before {
  border: 2px solid #3c3583 !important;
}

.welcome-columns {
  .welcome-column {
    background-image: linear-gradient(to top, #32366a 0%, #40358f 100%);
    .linkable {
      background-image: linear-gradient(-21deg, #594bbd 0%, #484e98 100%) !important;
      display: inline-block;
    }
    &.hoverlinkable {
      box-shadow: 0 0 31px 3px rgba(0, 0, 0, 0.21);
      z-index: 1;
      border-right: none;
    }
    border-right: 1px solid #000000;
  }
  .welcome-column:first-of-type {
    border: none;
  }
  .welcome-column:last-of-type {
    border: none;
  }
}

form label {
  color: #000000;
  font-size: rem-calc(18);
  font-weight: 600;
  line-height: rem-calc(26);
}

.auth-page {
  .site-title-holder {
    line-height: $line-height;
    margin: rem-calc(60) 0 auto 0;
    padding: rem-calc(10) 0;
    text-align: center;
    color: #16164c;

    .site-title {
      font-size: rem-calc(30);
      font-weight: 600;
      line-height: 40.5px;

      .site-name {
        font-weight: 800;
      }
      .place-name {
        font-weight: 400;

      }
    }
  }
}

.custom-icon.arrow-small-right,
.custom-icon.arrow-large-right {
  background-image: image-url('arrow.svg');
  background-position: center;
  background-size: 45px 42px;
  width: 33px;
  height: 29px;
}

.budget-investment-show .button.button-support.small.expanded {
  box-shadow: 0 0 8px rgba(50, 54, 106, 0.25);
  border-radius: 36px;
  background-image: linear-gradient(80deg, #f0b9ad 0%, #f0b9ad 51%, #f2d6d0 100%);
  color: #272266;
  font-size: 30px;
  font-weight: 700;
  line-height: 40.5px;
  padding: 0px 30px 10px 30px;
  border: none;
  width: auto;
  display: inline-block;
  i {
    background: image-url('best.png') center no-repeat;
    display: inline-block;
    width: 41px;
    height: 41px;
    top: 6px;
    position: relative;
    left: -10px;
  }
}

.action-button, .comments .comment .in_favor a, .comments .comment .against a {
  box-shadow: 0 0 8px rgba(50, 54, 106, 0.25);
  border-radius: 18px;
  color: #272266;
}

.comments {
  background: #fafafa;
  padding: 2rem;
  border-radius: 10px;
  margin: rem-calc(20) 0 rem-calc(40) 0;
}

.comment-form {
  padding: rem-calc(20) 0;
}

.comment-body {
  background: #ffffff;
}

.auth-divider.custom-divider {
  border-bottom: 2px solid #3c3583;
  margin: 1.5rem 0 0 0;
}

.signuplinkposition {
  display: inline-block;
  width: 149px;
  text-align: left;
  div {
    padding-left: 10px;
    top: 10px;
    position: relative;
  }
}

.signuporgposition {
  display: block;
  text-align: right;
  font-size: 12px;
  float: right;
  padding-top: 5px;
}

.pad-t-60 {
  padding-top: rem-calc(60)
}

.pagination {
  a:hover,
  button:hover {
    background: transparent;
  }

  li {
    color: #32366a;
    font-weight: 400;
    font-size: rem-calc(20);
    line-height: rem-calc(26);
    min-width: 32px;

    &.current,
    &:hover,
    button:hover {
      border-radius: 30px;
      background-image: linear-gradient(to right, #f0b9ad 0%, #272266 100%);
      min-width: 32px;
      color: #FFFFFF;
      font-weight: 400;
      font-size: rem-calc(20);
      line-height: rem-calc(26);
      a {
        color: #FFFFFF;
        font-weight: 400;
        font-size: rem-calc(20);
        line-height: rem-calc(26);
      }
    }
  }
  li.pagination-first,
  li.pagination-next,
  li.pagination-last,
  li.pagination-previous {
    a {
      color: #32366a;
      font-weight: 400;
      font-size: rem-calc(17);
      line-height: rem-calc(26);
    }
    &:hover {
      border-radius: 30px;
      background-image: linear-gradient(to right, #f0b9ad 0%, #272266 100%);
      a {
        color: #FFFFFF;
        font-weight: 400;
        font-size: rem-calc(17);
        line-height: rem-calc(26);
      }
    }
  }
}

.action-button,
.budget-investment-show .button.button-support.small.expanded,
footer .loginlinks a {
  border: none !important;
  background-size: 300% 100%;

  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;

  //background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673)!important;
  background-image: linear-gradient(to right, #f0b9ad, #f2d6d0, #fcede9, #f0b9ad) !important;
  &:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }

  &.transparent {
    background-size: 300% 100%;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

    &:hover {
      background-position: 100% 0;
      moz-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
    }
  }
}

.bggray {
  border-radius: 10px;
  background-color: #fafafa;
  padding: 2rem;
  font-size: rem-calc(20);
}

.landings {
  h2 {
    color: #40358f;
    font-size: rem-calc(60);
    font-weight: 700;
    line-height: rem-calc(70);
    margin-bottom: rem-calc(30);
  }
  p {
    color: #000000;
    font-weight: 500;
    font-size: rem-calc(30);
    line-height: rem-calc(36);
  }
}

.qs {
  display: block;
}

@media (min-width: 576px) {
  .qs {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.budget-investments .budget-investment-holder .budget-investment .image-holder {
  text-align: center;
  max-height: 351px;
  overflow: hidden;
}

.map-location {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.comments .action-button.small {
  color: #272266;
  font-size: 20px;
  font-weight: 700;
}

.budget-investment-show .social-box {
  h4 {
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    line-height: 37px;
  }
}

.budget-investment-show .social-box .column-content {
  background: #FFFFFF !important;

  h3 {
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    line-height: 37px;
  }

  h3,
  .social-share-full,
  .copylink,
  #shortner {
    display: inline-block;
    margin: 0 20px 0 0;
  }
  .social-share-full {
    margin: 0 60px 0 0;
    a {
      margin: 0 10px 0 0;
    }
  }

  .copylink {
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    line-height: 37px;
    cursor: pointer;
  }
  #shortner {
    width: 187px;
    border-radius: 4px;
    border: 2px solid #f7d3c9;
    background-color: #ffffff;

    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
  }
  .social-share-button .ssb-twitter,
  .social-share-button .ssb-facebook,
  .social-share-button .ssb-google_plus,
  .social-share-button .ssb-telegram {
    background: no-repeat;
    background-image: linear-gradient(to right, #f0b9ad, #f2d6d0, #fcede9) !important;
    color: #32366a;

    background-size: 300% 100%;

    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

    border-radius: 76px;
    width: 76px !important;
    height: 76px !important;

    &:hover {
      background-position: 100% 0;
      moz-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
    }
  }
  .social-share-button {
    .ssb-twitter::before,
    .ssb-facebook::before,
    .ssb-google_plus::before,
    .ssb-telegram::before {
      font-size: 2.5rem;
      left: 40%;
      top: 14px;
    }
  }
  .social-share-button .ssb-twitter::before {
    background-image: image-url('twitter.svg');
    left: 30px;
    top: 18px;
    content: ' ';
    background-size: 38px 38px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
  }
  .social-share-button .ssb-facebook::before {
    background-image: image-url('facebook.svg');
    left: 30px;
    top: 18px;
    content: ' ';
    background-size: 38px 38px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
  }
  .social-share-button .ssb-google_plus::before {
    background-image: image-url('envelope.svg');
    left: 30px;
    top: 18px;
    content: ' ';
    background-size: 38px 38px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
  }

}
