// Added by DJND/muki
.investment-project-amount {
  max-width: 150px;
  padding: 15px 19px;
  background-color: #fafafa;
  float: left;
  margin-right: 20px;
  margin-bottom: 50px;
  color: rgb(10, 10, 10);
  font-weight: 400;
}
.investment-price-explanation {
  text-align: left;
  margin-bottom: 20px;
}
.no-overflow {
  overflow: hidden;
}
// End added by DJND/muki
