<select name="" onchange="if (this.value) location = this.value;">
  <option value="">Kategorija</option>
  <% @categories.each do |category| %>
    <!--    TODO: finish-->
    <%# css_class = { class: 'is-active' } if params[:search] == category.name %>
    <option value="<%= budget_investments_path(@budget, search: category.name) %>"><%= category.name %></option>
    <%#= link_to category.name, budget_investments_path(@budget, search: category.name), css_class || {} %>
  <% end %>
</select>
