<div id="documents" class="documents">
  <p><strong><%= t("documents.title") %></strong></p>

  <% if documents.any? %>
    <ul class="no-bullet">
      <%= render partial: "documents/document", collection: documents %>
    </ul>
  <% end %>
</div>
