<header>
  <div class="row">
    <div class="top-bar">

      <!--<span data-responsive-toggle="responsive-menu" data-hide-for="medium" class="float-right">
        <span class="menu-icon dark" data-toggle></span>
        <%= t("application.menu") %>
      </span>-->

      <div class="site-title-holder">
        <%= link_to root_path, accesskey: "0", class: 'site-title' do %>
          <span class="site-name"><%= t("layouts.header.budgets") %></span>&nbsp;/&nbsp;<span class="place-name"><%= setting['place_name'] %></span>
        <% end %>
      </div>

    </div>
  </div>
</header>
