<div class="uresnicenprojekt">
  <div class="row">
    <div class="column large-12">

      <div class="row">
        <div class="column large-6">
          <div class="padding_uresnicen">
            <div class="title2 colorgreen">
              Uresničen projekt!
            </div>
            <div class="o_odprtju">
              <p>
                Občina se zaveže, da bo uresničila<br> vse izvedljive projekte z največ <br>glasovi v okviru 10.000 EUR.
              </p>
            </div>
          </div>
        </div>
        <div class="column large-6 textcenter">
          <%= image_tag(image_path_for('custom/svg/narejen-projekt.svg'), class: 'img_uresnicen', alt: '') %>
        </div>
      </div>

    </div>
  </div>
</div>
