<div class="imasidejopredlagaj">

  <div class="row paddingtop130_230">
    <div class="column large-12">
      <div class="row posrelative">
        <%= image_tag(image_path_for('custom/svg/nagovor.svg'), class: 'img_nagovor', alt: '') %>

        <div class="large-6 margin0auto textcenter ">



          <h1 class="title1 colorgreen uppercase">
            Imaš idejo za občino Kranjska Gora?
          </h1>

          <p>
            Kaj spremeniti, kaj izboljšati? Kakšne aktivnosti in projekte si želiš v občini?
          </p>

          <p>
            <b>
              Sodeluj v mladinskem participatornem proračunu!
            </b>
          </p>
          <br><br>
        </div>

      </div>
    </div>

  </div>

  <div class="row">
    <div class="column large-12">

      <div class="row">
        <div class="column large-6 medium-6">
          <div class="padding_predlagaj">
            <div class="title2 colorpurple">
              Predlagaj projekt!
            </div>
            <div class="kajbiz" style="margin-bottom: -30px;">
              <p>
                Kaj bi z občinskim denarjem<br> naredil/-a ti?
              </p>
              <br>
              <!-- <a class="button registrirajbtn" href="/budgets/1/investments/new">Dodaj svoj predlog!</a> -->
            </div>
          </div>
        </div>
        <div class="column large-6 medium-6 textcenter">
          <%= image_tag(image_path_for('custom/svg/predlagaj.svg'), class: 'img_predlagaj', alt: '') %>
        </div>
      </div>

    </div>
  </div>

</div>
