<div class="padding_tb_80">
<div class="row">
  <div class="column large-12">

    <div class="row">
      <div class="column large-6 textcenter">
        <%= image_tag(image_path_for('custom/svg/glasuj.svg'), class: 'img_glasuj', alt: '') %>
      </div>
      <div class="column large-6">
        <div class="padding_glasuj">
        <div class="title2 colorred">
          Glasuj!
        </div>
        <div class="danebi">
          <p>
          Da ne bi ostalo pri ideji,  moraš za <br>to navdušiti še prijatelje!
          </p>
        </div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
