<div class="box_zelisvec">
<div class="padding_tb_100 bg_lightblue">
  <div class="row">
    <div class="column large-12">

      <div class="row">
        <div class="column large-6">
          <div class="padding_zelisvec posrelative">
            <div class="title2 colorpurple">
              Želiš izvedeti več o participatornem proračunu?
            </div>

            <div class="more_button">
              <a href="/budgets/">
              </a>
            </div>

          </div>


        </div>

      </div>


    </div>
  </div>
</div>
</div>
