<div class="box_registriraj padding_tb_80">
<div class="row">
  <div class="column large-12 margin0auto textcenter posrelative">



        <div class="registriraj title1">
          <span class="colorred uppercase">Registriraj se</span> že danes in pomagaj <br>ustvarjati boljšo Kranjsko Goro!
        </div>

        <div class="o_odprtju">
          <p>
          O odprtju oddajanja predlogov te bomo obvestili!
          </p>
        </div>
<br><br>
    <a class="button registrirajbtn" href="/users/sign_in">Prijava</a>

    <%= image_tag(image_path_for('custom/svg/konec.svg'), class: 'img_registriraj', alt: '') %>

  </div>
</div>
</div>
