<div class="row section-content">
  <div class="small-12 column">
    <h3 id="budgets" data-magellan-target="budgets">
      Kaj je mladinski participatorni proračun?
    </h3>
    <p>
      Participatorni proračuni so prisotni po vsem svetu, kjer pomagajo ljudem sprejemati direktne odločitve o tem, za kaj se porabi del občinskega proračuna. Mladinski participatorni proračun Občine Kranjska Gora ima torej preprost cilj - vam, mladim, omogočiti soodločanje o razdelitvi dela občinskega proračuna. Preko participatornega proračuna lahko predlagate projekte na območju občine Kranjska Gora in zanje glasujete. Občina bo v letu 2019 izglasovane projekte uresničila.
    </p>
    <h3 id="budgets" data-magellan-target="budgets">
      Zakaj v Kranjski Gori?
    </h3>
    <p>
      Občina Kranjska Gora je pristopila k projektu Odločanje in mladi v Alpah (GaYA) z željo, da mlade aktivneje vključi v dogajanje v občini. Ker se večji del mladih šola izven meja občine, v domače kraje pa se vrača ob popoldnevih in koncih tedna, je bila sprejeta odločitev, da se razvije spletno različico mladinskega participatornega proračuna. 
    </p>

    <h3 id="budgets" data-magellan-target="budgets">
      Kdo lahko sodeluje?
    </h3>
    <p>
      K oddaji predlogov so vabljeni vsi, ki imajo ideje in predloge, kako izboljšati življenje v občini Kranjska Gora. O tem, kakšni so kriteriji za oddane predloge, odgovarjamo pri naslednjem vprašanju.
      <br><br>
      Za predloge bodo lahko glasovali le mladi s stalnim prebivališčem v občini Kranjska Gora in rojeni med letoma 1989 in 2003 (vključujoč te dve leti). 
    </p>

    <h3 id="budgets" data-magellan-target="budgets">
      Kakšne predloge lahko predlagamo?
    </h3>
    <p>
      Predlog mora upoštevati nekaj splošnih kriterijev:
      <ul>
        <li>prispeva k uresničevanju javnega interesa na območju občine Kranjska Gora</li>
        <li>bo izveden na zemljiščih v lasti Občine Kranjska Gora</li>
        <li>še ni bil (so)financiran s strani Občine Kranjska Gora</li>
        <li>je finančno ovrednoten do največ 10.000 EUR z vključenim DDV-jem</li>
        <li>ni uvrščen v Načrt razvojnih programov Občine Kranjska Gora</li>
        <li>ne sme biti v nasprotju z zakonodajo ali drugimi uredbami</li>
        <li>izvedba predloga mora biti mogoča v proračunskem obdobju leta 2019</li>
      </ul>
      o zaključku sprejemanja predlogov bo komisija opravila administrativni pregled in v glasovanje dala le predloge, ki upoštevajo zgornje kriterije.
      <br>
      V kolikor ne veste, ali vaš predlog upošteva zgornje kriterije, se lahko obrnete na Vlasto Skumavc Vrabič, <a href="mailto:vlasta.skumavc@kranjska-gora.si">vlasta.skumavc@kranjska-gora.si</a> ali 04-5809 809.
    </p>

    <h3 id="budgets" data-magellan-target="budgets">
      Imam težave pri izpolnjevanju obrazca ali glasovanju. Na koga se lahko obrnem?
    </h3>
    <p>
      V kolikor ne veste, ali vaš predlog upošteva kriterije za oddajo predlogov oziroma potrebujete vsebinske razjasnitve, se lahko obrnete na Vlasto Skumavc Vrabič, <a href="mailto:vlasta.skumavc@kranjska-gora.si">vlasta.skumavc@kranjska-gora.si</a> ali 04 58 09 809.
      <br><br>
      V kolikor imate tehnične težave, se obrnite na Matevža Strausa, <a href="mailto:matevz.straus@idrija.si">matevz.straus@idrija.si</a>, 05 37 34 508.
    </p>

    <h3 id="budgets" data-magellan-target="budgets">
      Kdaj lahko glasujem?
    </h3>
    <p>
      Glasovanje bo odprto po zaključku sprejemanja predlogov in administrativnem pregledu ustreznosti prejetih predlogov, in sicer od 22. oktobra do 4. novembra 2018.
    </p>

    <h3 id="budgets" data-magellan-target="budgets">
      Po pošti sem dobil kodo. Jo lahko posodim prijatelju?
    </h3>
    <p>
      Ne. Koda je unikatna. Po prvem vpisu kode se prične odštevati obdobje, ki traja 2 uri, in v katerem lahko na tem računalniku v tem brskalniku glasuješ za svoje favorite ter svoje odločitve popravljaš. Po preteku dveh (2) ur od prvega vpisa koda ni več uporabna. 
    </p>

    <h3 id="budgets" data-magellan-target="budgets">
      Bodo predlogi res uresničeni?
    </h3>
    <p>
      Izglasovane predloge bo Občina Kranjska Gora umestila v proračun za leto 2019 in jih izvedla.
    </p>

    <h3 id="budgets" data-magellan-target="budgets">
      Kdaj bodo znani rezultati?
    </h3>
    <p>
      Rezultati bodo znani po 12. novembru 2018.
    </p>

    <h3 id="budgets" data-magellan-target="budgets">
      Kakšne podatke zbirate o meni?
    </h3>
    <p>
      Shranimo tvoj email naslov, da ti lahko pomagamo pri pozabljenem geslu in te obvestimo o pričetku glasovanja. Shranimo tudi tvoje predloge in glasove, da jih lahko na koncu preštejemo.
    </p>

    <h3 id="budgets" data-magellan-target="budgets">
      Kdo financira te aktivnosti?
    </h3>
    <p>
      10.000 EUR namenjenih za izvedbo izglasovanih projektov bo zagotovila Občina Kranjska Gora, prav tako občina krije stroške informiranja. Spletna platforma, oblikovanje plakatov in letakov ter strokovna podpora pri izvajanju pa so sofinancirane s strani Evropskega sklada za regionalni razvoj prek Interreg programa sodelovanja Območje Alp ter Občine Idrija v okviru projekta Odločanje in mladi v Alpah.
    </p>

    <h3 id="budgets" data-magellan-target="budgets">
      Kdo izvaja ta projekt?
    </h3>
    <p>
      Slovenski partner projekta Odločanje in mladi v Alpah (GaYA) je Občina Idrija, ki želi v sodelovanju s sedmimi partnerji iz petih različnih alpskih držav izboljšati kakovost demokratičnih procesov v alpskem prostoru z vključevanjem mladih v regionalno upravljanje. Na petnajstih pilotnih območjih od Francije do Slovenije (npr. Kranjska Gora) testiramo nove pristope k vključevanju mladih v sprejemanje odločitev na lokalni ravni ter usposabljamo odločevalce in načrtovalce politik za aktivnejšo in mladim bolj prijazne participatorne procese. Več na: www.alpine-space-eu/gaya
      <br><br>
      Spletno platformo je na osnovi odprtokodne madridske platforme CONSUL prilagodil <a href="https://danesjenovdan.si" target="_blank">Danes je nov dan</a>.
    </p>


    <!--
    <figure>
      <%= image_tag "help/budgets_#{I18n.locale}.png", alt: t("pages.help.budgets.image_alt") %>
      <figcaption><%= t("pages.help.budgets.figcaption_html") %></figcaption>
    </figure>
    -->
  </div>
</div>
