custom_default:
  deploy_to: "/home/deploy/consul"
  ssh_port: 22
  server1: xxx.xxx.xxx.xxx
  db_server: xxx.xxx.xxx.xxx
  user: "deploy"
  server_name: "consul.djnd.si"
  full_app_name: "custom_default"
  repo_url: "https://github.com/danesjenovdan/consul"
  branch: "consuless"

custom_hrpelje_kozina:
  deploy_to: "/home/deploy/consul"
  ssh_port: 22
  server1: xxx.xxx.xxx.xxx
  db_server: xxx.xxx.xxx.xxx
  user: "deploy"
  server_name: "hrpelje-kozina.djnd.si"
  full_app_name: "custom_hrpelje_kozina"
  repo_url: "https://github.com/danesjenovdan/consul"
  branch: "consuless"
