<% provide :title do %><%= t("pages.titles.conditions") %>
<% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: page_url("conditions") %>
<% end %>

<div class="row conditions">

  <div class=" bggray">
    <div class="main-indented-content">
      <div class="row">
        <div class="small-12 medium-10 column medium-centered pad-tb-45 text-center" style="position:relative;">

          <div class="big-video" data-v-e7f13626 data-v-42aaeb66>
            <div class="embed-responsive embed-responsive-16by9" data-v-e7f13626>
              <iframe src="https://www.youtube.com/embed/7o9GylegDXc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" class="embed-responsive-item" data-v-e7f13626></iframe>
            </div>
          </div>
          <img src="/assets/custom/arrow-down.svg" class="arrow-down">
        </div>

        <div class="small-12 medium-10 column medium-centered pad-tb-45 text-center">
          <p class="intro">
            Participativni proračun je sistem razporejanja dela proračunskega denarja tako, da o njegovi porabi
            soodločajo občanke in občani. Sami predlagajo projekte in določijo, kateri so najnujnejši in bi največ
            prispevali k izboljšanju kakovosti bivanja v skupnosti.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="">
    <div class="main-indented-content ">
      <div class="text-center">
        <h2>Kako deluje?</h2>
      </div>
      <div class="row">
        <div class="small-12 medium-10 column medium-centered pad-tb-45">
          <div class="row">
            <div class="medium-3 column">
              <div class="nbr5">
                1
              </div>
            </div>

            <div class="medium-9 column js-padt">
              <h3>
                ZBIRANJE PREDLOGOV
                <span class="datum">
                  24. 1. - 21. 2. 2019
              </span>
              </h3>
              <p>
                Občanke in občani oddajo predloge projektov do 21. 2. 2019. Posamezen predlog projekta mora biti v
                skladu
                z navodili, njegova vrednost pa ne sme biti višja od 15 000 €. Predlog lahko oddate preko obrazca v
                prostorih občine Hrpelje-Kozina ali preko spleta.
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="bggray">
    <div class="main-indented-content ">

      <div class="row">
        <div class="small-12 medium-10 column medium-centered pad-tb-45">
          <div class="row">
            <div class="medium-3 column">
              <div class="nbr5">
                2
              </div>
            </div>
            <div class="medium-9 column js-padt">
              <h3>
                PREGLED PREDLOGOV
                <span class="datum">
21. 2. - 26. 2. 2019
              </span>
              </h3>
              <p>
                Vse oddane predloge pregleda komisija, ki vsak oddan predlog finančno ovrednoti in preveri, če je
                izvedljiv, skladen z zakonodajo, znotraj geografskega območja in časovnice izvajanja participativnega
                proračuna ter v skladu z pravili glede vrednosti predlogov. Komisija lahko podobne predloge združi.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="">
    <div class="main-indented-content ">
      <div class="row">
        <div class="small-12 medium-10 column medium-centered pad-tb-45">
          <div class="row">
            <div class="medium-3 column">
              <div class="nbr5">
                3
              </div>
            </div>

            <div class="medium-9 column js-padt">
              <h3>
                GLASOVANJE
                <span class="datum">
                  27. 2. - 6. 3. 2019
              </span>
              </h3>
              <p>
              Glasovanje bo izvedeno preko spleta ali v prostorih občine Hrpelje-Kozina v času uradnih ur.
              Sodeluje lahko vsak prebivalec ali prebivalka s stalnim ali začasnim bivališčem v Občini Hrpelje - Kozina,
              ki je dopolnil/-a 14 let. Glasuje se tako, da občan/-ka razdeli predvidenih 60&nbsp;000&nbsp;€ sredstev za participativni
              proračun med projekte, za katere si želi, da bi bili izvedeni.
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="bggray">
    <div class="main-indented-content ">

      <div class="row">
        <div class="small-12 medium-10 column medium-centered pad-tb-45">
          <div class="row">
            <div class="medium-3 column">
              <div class="nbr5">
                4
              </div>
            </div>
            <div class="medium-9 column js-padt">
              <h3>
                RAZGLASITEV REZULTATOV
                <span class="datum">
7. 3. - 21. 3. 2019
              </span>
              </h3>
              <p>
                Po končanem glasovanju bo občina preverila rezultate in razglasila projekte, ki so bili izbrani.
                Izbrani projekti bodo predlagani v potrditev Mestnemu svetu občine Hrpelje -Kozina za proračunski leti
                2019 in 2020.

              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="">
    <div class="main-indented-content ">
      <div class="row">
        <div class="small-12 medium-10 column medium-centered pad-tb-45">
          <div class="row">
            <div class="medium-3 column">
              <div class="nbr5">
                5
              </div>
            </div>

            <div class="medium-9 column js-padt">
              <h3>
                SPREMLJANJE IZVEDBE
              </h3>
              <p>
                V tej fazi cikla participativnega proračuna bomo skrbeli za ažurno obveščanje o napredovanju projektov
                ter sprotno posodabljanje njihovih časovnic. Postopek implementacije projektov bomo dokumentirali tudi
                z vizualnimi materiali, zaključene projekte pa opremili z opisom in slikami.
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


</div>
