<% provide :title do %><%= t("pages.titles.privacy") %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: page_url("privacy") %>
<% end %>

<div class="row privacy">
<div class="main-indented-content">
  <div class="small-12 medium-7 column">



    <h3 dir="ltr"><span>Pogoji uporabe</span></h3>

    <p dir="ltr"><span>Aktivna uporaba spletnega orodja se ureja s spodnjimi pogoji za uporabo, zato se morajo vsi, ki želijo aktivno sodelovati, registrirati, za kar se bo zahtevalo sprejetje teh pogojev uporabe.</span></p>

    <p dir="ltr"><span>Občina Hrpelje-Kozina</span> si pridržuje pravico, da te pogoje uporabe spremeni, najnovej&scaron;a različica pa bo objavljena na tej spletni strani.</p>

    <h3 dir="ltr"><span>O orodju</span></h3>

    <p dir="ltr"><span>Spletno orodje vzpodbuja državljansko participacijo in omogoča odprto, transparentno ter demokratično vodenje na občinski in državni ravni. Aplikacija gradi na osnovi odprtokodne platforme Consul, ki je nastala pod okriljem občine Madrid, za potrebe slovenskih občin pa so jo prilagodili na in&scaron;titutu Danes je nov dan. </span></p>

    <h3 dir="ltr"><span>Registracija</span></h3>


    <p dir="ltr"><span>Le registrirani uporabniki lahko oddajo predloge projektov, komentirajo in glasujejo za oddane projekte.</span> Neregistrirani uporabniki lahko prosto spremljajo objavljene vsebine, ne morejo pa oddajati predlogov projektov, o njih glasovati ali sodelovati v debatah.</p>


    <p dir="ltr"><span>Uporabnik/-ca mora ob registraciji navesti:</span></p>

    <ul style="list-style-type:disc;">
      <li dir="ltr">
        <p dir="ltr"><span>elektronski naslov</span></p>
      </li>
      <li dir="ltr">
        <p dir="ltr"><span>uporabni&scaron;ko ime</span></p>
      </li>
      <li dir="ltr">
        <p dir="ltr"><span>EM&Scaron;O</span></p>
      </li>
    </ul>

    <p dir="ltr"><span>Ob potrditvi aktivacijskega elektronskega sporočila, ki ga uporabnik prejme na svoj elektronski naslov, se aktivira uporabni&scaron;ki račun. Kreiranje več uporabni&scaron;kih računov s strani enega uporabnika je prepovedano.</span></p>


    <p dir="ltr"><span>Če uporabnik/-ca katerega izmed navedenih podatkov ne posreduje, mu je onemogočeno uspe&scaron;no dokončanje registracije in posledično ne more uporabljati spletne platforme.</span></p>


    <p dir="ltr"><span>Uporabnik/-ca lahko kadarkoli prekliče svojo registracijo tako, da moderatorju orodja na e-poštni naslov consul@djnd.si pošlje zahtevo za izbris profila iz evidence uporabnikov. Po potrditvi preklica registracije bo upravljalec orodja Danes je nov dan iz evidence uporabnikov izbrisal vse osebne podatke. Kljub izbrisu osebnih podatkov uporabnika se predlogi, komentarji in podatki o glasovanjih hranijo, a so pripisani "izbrisanemu uporabniku".</p>

    <h3 dir="ltr"><span>Sprejem pravil</span></h3>

    <p dir="ltr"><span>Ob registraciji mora uporabnik/-ca sprejeti pravila sodelovanja in uporabe spletnega orodja.</span></p>

    <p dir="ltr"><span>S sprejemom pravil se uporabnik/-ca najprej zaveže, da bo ob podajanju in komentiranju predlogov spo&scaron;toval ustavo in zakone Republike Slovenije, kar zlasti pomeni, da:</span></p>

    <ul style="list-style-type:disc;">
      <li dir="ltr">
        <p dir="ltr"><span>ne bo objavljal vsebin, ki bi spodbujale k spolni, rasni, narodnostni ali verski nestrpnosti ali h kakr&scaron;nikoli obliki diskriminacije na podlagi osebnih okoli&scaron;čin posameznikov;</span></p>
      </li>
      <li dir="ltr">
        <p dir="ltr"><span>ne bo objavljal vsebin, ki bi kr&scaron;ile ali posegale v osebnostne pravice tretjih oseb;</span></p>
      </li>
      <li dir="ltr">
        <p dir="ltr"><span>ne bo objavljal slik ali fotografij, ki so v lasti tretjih oseb ali uporabljajo podatke tretjih oseb, ne da bi pri tem dobil ustrezno soglasje lastnikov in tretjih oseb;</span></p>
      </li>
      <li dir="ltr">
        <p dir="ltr"><span>ne bo objavljal groženj, ne bo se izražal slab&scaron;alno, prosta&scaron;ko, poniževalno ali žaljivo;</span></p>
      </li>
      <li dir="ltr">
        <p dir="ltr"><span>ne bo objavljal avtorskih del, za katere nima avtorskih pravic, in orodja ne bo uporabil za distribuiranje avtorsko za&scaron;čitenih vsebin ali vsebin, ki so v lasti druge pravne ali fizične osebe.</span></p>
      </li>
    </ul>

    <p dir="ltr"><span>Kr&scaron;itev zgoraj omenjenih pravil se kaznuje z začasno omejitvijo delovanja uporabnika/-ce, prekinitvijo uporabni&scaron;kega računa in / ali izbrisom vsebine. </span></p>

    <h3 dir="ltr"><span>Raba portala</span></h3>


    <p dir="ltr"><span>Aplikacija omogoča direktno soodločanje o delu občinskega proračuna. Uporabniki in uporabnice lahko oddajajo, podpirajo in glasujejo o predlogih za projekte, jih komentirajo in spremljajo njihov razvoj. Sodeluje lahko vsak prebivalec ali prebivalka občine, ki je star/-a vsaj 14 let in se je registriral/-a na spletnem orodju, za aktivnosti mladoletnikov so odgovorni star&scaron;i ali skrbniki. Ni omejitev glede &scaron;tevila oddanih predlogov ali komentarjev, &scaron;tevilo glasov pa je omejeno z vi&scaron;ino participativnega proračuna. </span></p>


    <p dir="ltr"><span>Uporabniku/-ci portal omogoča:</span></p>

    <ul style="list-style-type:disc;">
      <li dir="ltr">
        <p dir="ltr"><span>Oddajo predlogov</span></p>
      </li>
    </ul>

    <p dir="ltr" style="margin-left:36pt;"><span>Za oddajo predloga mora uporabnik/-ca obvezno določiti naslov predloga projekta, opis, doda pa lahko &scaron;e sliko predloga, lokacijo predloga, dokumente. Po oddaji predloga je ta avtomatsko sprejet in se prikaže na portalu. Uporabnik/-ca lahko predlog deli z drugimi na socialnih omrežjih, preko emaila ali s skraj&scaron;ano povezavo.</span></p>

    <ul style="list-style-type:disc;">
      <li dir="ltr">
        <p dir="ltr"><span>Glasovanje za predloge</span></p>
      </li>
    </ul>

    <p dir="ltr" style="margin-left:36pt;"><span>Uporabnik/-ca lahko glasuje za predloge drugih uporabnikov. Za en predlog lahko glasuje le enkrat. Za glasovanje ima na voljo celoten participativni proračun, z vsakim glasom pa se znesek manj&scaron;a. Uporabnik/-ca lahko posameznemu predlogu v fazi zbiranja glasov tudi odvzame glas.</span></p>


    <ul style="list-style-type:disc;">
      <li dir="ltr">
        <p dir="ltr"><span>Komentiranje predlogov</span></p>
      </li>
    </ul>

    <p dir="ltr" style="margin-left:36pt;"><span>Vsak predlog je lahko komentiran s strani registriranih uporabnikov. </span></p>


    <ul style="list-style-type:disc;">
      <li dir="ltr">
        <p dir="ltr"><span>Spremljanje izbranih predlogov</span></p>
      </li>
    </ul>

    <p dir="ltr" style="margin-left:36pt;"><span>V zadnji fazi orodje omogoča spremljanje rezultatov izvedbe. </span></p>

    <h3 dir="ltr"><span>Varstvo osebnih podatkov</span></h3>


    <p dir="ltr"><span>Va&scaron; elektronski naslov in EM&Scaron;O uporabljamo le za potrebe izvedbe participativnega proračuna v občini </span>Hrpelje-Kozina.</p>


    <p dir="ltr"><span>Osebnih podatkov, pridobljenih preko registracijskega formularja na spletni platformi URL bomo uporabljali izključno v namene izvedbe participativnega proračuna v na&scaron;i občini in ga ne bomo posredovali v uporabo tretjim osebam, razen če bi od nas to zahteval zakon. Pri upravljanju spletnega orodja sodelujemo z  </span><a href="https://danesjenovdan.si/">Danes je nov dan, In&scaron;titutom za druga vpra&scaron;anja</a>, ki nastopa v vlogi t. i. »pogodbenega obdelovalca« oziroma »obdelovalca« teh podatkov. Pogodbeno je zavezan, da vaše osebne podatke uporablja izključno v imenu občine Hrpelje-Kozina ter da zagotavlja njegovo varstvo v skladu z vsakokratnimi veljavnimi predpisi in našimi navodili.</p>


    <p dir="ltr"><span>Svoje podatke, vnesene ob registraciji, lahko preverite, spreminjate oziroma dopolnite v svojem profilu, v katerega lahko vstopite po uspe&scaron;no izvedeni prijavi. V svojem profilu lahko tudi izberete, ali želite na svoj elektronski naslov prejemati različna obvestila.</span></p>


    <h3 dir="ltr"><span>Pi&scaron;kotki</span></h3>


    <p dir="ltr"><span>Uporabljamo samo pi&scaron;kotke, ki so nujni za delovanje spletnega mesta. </span></p>

    <h3 dir="ltr">Intelektualna lastnina</h3>


    <p dir="ltr"><span>Vsa koda potrebna za delovanje spletne strani pp.hrpelje-kozina.si je odprta in dostopna vsakomur. Kodo lahko vsakdo uporablja brezplačno pod pogoji licence <a href="https://github.com/danesjenovdan/consul/blob/master/LICENSE-AGPLv3.txt">AGPLv3</a>.</span></p>


    <h3 dir="ltr"><span>Omejitev odgovornosti</span></h3>

    <p dir="ltr"><span>Uporabniki/-ce spletnega orodja uporabljajo spletno orodje, njene dele in vsebine izključno na lastno odgovornost.</span></p>


    <p dir="ltr"><span>Občina Hrpelje-Kozina</span> ne prevzema odgovornosti za kakr&scaron;nokoli direktno ali indirektno vrsto polemike, spora in / ali pravdnega postopka, ki bi lahko nastal zaradi objave ali raz&scaron;irjanja vsebine, za katero ni bilo pridobljeno dovoljenje s strani zakonitih lastnikov. Prav tako ne odgovarja za &scaron;kodo, ki bi nastala zaradi uporabe spletnega orodja, kot tudi ne jamči za uspe&scaron;nost uporabe spletnega orodja. V nobenem primeru ne odgovarja za kakr&scaron;nokoli &scaron;kodo, ki bi izvirala iz uporabe oziroma nezmožnosti uporabe spletnega orodja, vključno s &scaron;kodo zaradi izgubljenega prihodka ali pričakovanega dobička, izgube ali okrnitve dobrega imena, izgube poslov ali izgube podatkov.</p>


    <p dir="ltr"><span>Vsaka kr&scaron;itev pravic intelektualne ali industrijske lastnine je odgovornost osebe, ki je zagotovila vsebino. </span>Občina Hrpelje-Kozina prav tako ni odgovorna za vsebine:</p>

    <ul style="list-style-type:disc;">
      <li dir="ltr">
        <p dir="ltr"><span>ki spodbujajo k spolni, rasni, narodnostni ali verski nestrpnosti ali h kakr&scaron;nikoli obliki diskriminacije na podlagi osebnih okoli&scaron;čin posameznikov; </span></p>
      </li>
      <li dir="ltr">
        <p dir="ltr"><span>ki kr&scaron;ijo ali posegajo v osebnostne pravice tretjih oseb, so v lasti tretjih oseb ali uporabljajo podatke tretjih oseb, ne da bi pri tem obstajalo ustrezno soglasje lastnikov in tretjih oseb; </span></p>
      </li>
      <li dir="ltr">
        <p dir="ltr"><span>ki so grožnje, slab&scaron;alne, prosta&scaron;ke, poniževalne ali žaljive; </span></p>
      </li>
      <li dir="ltr">
        <p dir="ltr"><span>ki so avtorska dela, za katere uporabnik/-ca nima avtorskih pravic. Vsaka kr&scaron;itev pravic intelektualne ali industrijske lastnine je odgovornost osebe, ki zagotavlja vsebino. </span></p>
      </li>
    </ul>


    <p dir="ltr"><span>Občina Hrpelje-Kozina</span> se bo trudila, da bi tovrstne vsebine kar najhitreje umaknila s spletnega orodja in proti uporabnikom uvedla ustrezne sankcije.</p>


    <p dir="ltr"><span>V primeru kakr&scaron;nega koli spora med uporabniki spletnega orodja in / ali tretjo osebo je </span>občina Hrpelje-Kozina izvzeta iz kakr&scaron;nekoli odgovornosti za pravdne zahtevke, zahtevke za od&scaron;kodnine ali od&scaron;kodnine kakr&scaron;ne koli narave, povezane z vsebinami na spletnem orodju in / ali nastalimi v sodnem postopku.</p>


    

  </div>
</div>
</div>
