<div id="budget-investments-main">
  <div class="row">
    <div class="small-12 medium-9 column">
      <h1><%= t("management.budget_investments.create") %></h1>

      <%= render '/budgets/investments/form', form_url: budget_investments_path(@budget) %>
    </div>
    <div class="small-12 medium-3 column">

      <div class="panel">
        <h3>Kako naj izgleda predlog?</h3>
        <p>
          Predstavi svojo idejo za projekt, navduši zanjo druge mlade in projekt bo uvrščen v načrt aktivnosti Občine Kranjska Gora v letu 2019. Projekt naj:
        </p>
        <ul>
          <li>prispeva k uresničevanju javnega interesa na območju Občine Kranjska Gora</li>
          <li>bo izveden na zemljiščih v lasti Občine Kranjska Gora</li>
          <li>še ni bil (so)financiran s strani Občine Kranjska Gora</li>
          <li>je finančno ovrednoten do največ 10.000 EUR z vključenim DDV-jem</li>
          <li>ni uvrščen v Načrt razvojnih programov Občine Kranjska Gora</li>
          <li>ne sme biti v nasprotju z zakonodajo ali drugimi uredbami</li>
          <li>izvedba predloga mora biti mogoča v proračunskem obdobju leta 2019</li>
        </ul>
      </div>

    </div>
  </div>
</div>