<!-- TODO: finish order links, hover on title, adjust text -->
<ul class="float-right submenu ordering">
  <% @valid_orders.each do |order| %>
    <li class="inline-block <%= order == @current_order ? 'is-active' : '' %>">
      <%= link_to current_path_with_query_params(order: order, page: 1) do %>
        <%= content_tag(order == @current_order ? :h2 : :span) do %>
          <%= t("#{i18n_namespace}.orders.#{order}") %>
        <% end %>
      <% end %>
      <span>V</span>
    </li>
  <% end %>
</ul>
