<% if @valid_orders.present? && @valid_orders.count > 1 %>
  <div class="wide-order-selector small-12 medium-8">
    <div class="small-12 float-left">
      <%= render('shared/order_links', i18n_namespace: "budgets.investments.index") %>

<!--      <ul class="float-right ordering">-->
        <%# @valid_orders.each do |order| %>
<!--          <li class="inline-block <%#= order == @current_order ? 'is-active' : '' %>">-->
            <%#= link_to current_path_with_query_params(order: order, page: 1) do %>
              <%#= content_tag(:span) do %>
                <%#= t("#{i18n_namespace}.orders.#{order}") %>
<!--                <i class="custom-css-icon triangle-down"></i>-->
              <%# end %>
            <%# end %>
<!--          </li>-->
        <%# end %>
<!--      </ul>-->
    </div>
  </div>
<% end %>
