<% provide :title do %><%= t("pages.titles.help", org: setting['org_name']) %>
<% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: help_url %>
<% end %>

<% if has_banners? %>
  <%= render "shared/banner" %>
<% end %>

<div class="row help">

  <div class="bggray">
    <div class="main-indented-content ">
      <div class="text-center">
        <h2>Pogosta vprašanja</h2>
      </div>
      <div class="akkordion row">
        <div class="small-12 medium-10 column medium-centered pad-tb-45">

          <div class="row">
            <div class="medium-12 brderundr">
              <div class="title">
                Potrebujem telefonsko številko in dostop do interneta, da lahko
                sodelujem?
                <i class="custom-icon arrow-small-right">
                </i>
              </div>
              <p>
                Za kreiranje uporabniškega računa na spletnem orodju ne potrebuješ telefonske številke, potrebuješ pa
                e-naslov
                in internetno povezavo, lahko pa vse funkcionalnosti opraviš tudi na občini.
              </p>
            </div>
          </div>

          <div class="row">
            <div class="medium-12 brderundr">
              <div class="title">
                Kako ustvarim in potrdim svoj račun?
                <i class="custom-icon arrow-small-right">
                </i>
              </div>
              <p>
                Račun ustvariš tako, da v nogi spletnega mesta klikneš na gumb Registracija, klik na kateri koli gumb za
                akcijo pa te prav tako pripelje do istega spletnega obrazca. Za kreiranje uporabniškega računa moraš
                vpisati uporabniško ime, e-naslov, EMŠO in geslo. Po kreiranju računa ga moraš potrditi še s klikom na
                povezavo v e-pošti, ki ti jo bomo poslali na tvoj e-naslov.
              </p>
            </div>
          </div>

          <div class="row">
            <div class="medium-12 brderundr">
              <div class="title">
                Kako lahko ustvarim nov predlog?
                <i class="custom-icon arrow-small-right">
                </i>
              </div>
              <p>
                Predlog ustvariš v okviru spletnega orodja, lahko pa ga oddaš tudi na fizičnem obrazcu v času uradnih ur
                v prostorih občine na Reški cesti 14 v Kozini.
              </p>
            </div>
          </div>

          <div class="row">
            <div class="medium-12 brderundr">
              <div class="title">
                Pozabil/-a sem svoje geslo. Kaj lahko storim?
                <i class="custom-icon arrow-small-right">
                </i>
              </div>
              <p>
                Klikni na gumb Prijava, potem pa izberi povezavo Pozabljeno geslo. Na svoj elektronski naslov boš
                prejel/-a navodila, kako ustvariti novo geslo.
              </p>
            </div>
          </div>

          <div class="row">
            <div class="medium-12 brderundr">
              <div class="title">
                Kako lahko spremenim svoj e-naslov, uporabniško ime in / ali
                geslo?
                <i class="custom-icon arrow-small-right">
                </i>
              </div>
              <p>
                V nogi spletnega mesta klikni na gumb Moj račun, kjer lahko spremeniš vse svoje podatke.
              </p>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>

  <div class="pad-2rem">
    <div class="main-indented-content pad-tb-45">
      <div class="text-center">
        <h2>Potrebuješ pomoč?</h2>
      </div>
      <div class="row">
        <div class="small-12 medium-10 column medium-centered pad-tb-45">
          <div class="row qs">

            <div class="medium-6 column">
              <div class="technical-issues">
                <div class="inner">
                  <h3>Imaš tehnične težave?</h3>
                  <p>Kontaktiraj upravljalca aplikacije na <a href="mailto:consul@djnd.si">consul@djnd.si</a>.</p>
                </div>
              </div>
            </div>

            <div class="medium-6 column">
              <div class="technical-issues">
                <div class="inner">
                  <h3>Imaš kakršno koli
                    drugo vprašanje?</h3>
                  <p>Kontaktiraj vodjo projekta na občini na (05) 620 53 64 ali na
                    <a href="mailto:andrej.bolcic@hrpelje-kozina.si">andrej.bolcic@hrpelje-kozina.si</a>.</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


</div>
