<footer>
  <div class="row">
    <div class="small-12 large-12 column">
      <div class="footer_bg">
        <div class="row">
          <div class="large-3 column">
            <a href="#" title="" target="_blank">
              <%= image_tag(image_path_for('custom/sponsors/gaya.png'), class: '', alt: t("layouts.header.logo")) %>
            </a>
          </div>
          <div class="large-2 column">
            <a href="#" title="" target="_blank">
              <%= image_tag(image_path_for('custom/sponsors/eu.png'), class: '', alt: t("layouts.header.logo")) %>
            </a>
          </div>
          <div class="large-2 column">
            <a href="#" title="" target="_blank">
              <%= image_tag(image_path_for('custom/sponsors/kg.png'), class: '', alt: t("layouts.header.logo")) %>
            </a>
          </div>
          <div class="large-5 column">
            <a href="#" title="" target="_blank">
              <%= image_tag(image_path_for('custom/sponsors/slo.png'), class: '', alt: t("layouts.header.logo")) %>
            </a>
          </div>
        </div>
        <%#= image_tag(image_path_for('custom/footer.png'), class: '', alt: t("layouts.header.logo")) %>
      </div>
    </div>
  </div>
</footer>
