<% provide :title do %><%= t("pages.titles.conditions") %>
<% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: page_url("termini-d-uso") %>
<% end %>


<div class="row privacy">
  <div class="main-indented-content">
    <div class="small-12 medium-10 column medium-centered">

      <h3 dir="ltr"><span>Termini d'uso</span></h3>

      <p dir="ltr">
        <span>L&#39;uso attivo dello strumento web è regolato dai termini di utilizzo presentati di seguito, perciò
        chiunque desideri partecipare attivamente deve registrarsi, accettando i presenti termini d’uso.</span>
      </p>

      <p dir="ltr"><span>Il Comune città di Capodistria si riserva il diritto di modificare le presenti condizioni d&#39;uso.
      L&#39;ultima versione sarà pubblicata su questo sito.</p>

      <h3 dir="ltr"><span>Protezione dei dati personali</span></h3>
      <p dir="ltr"><span>Registrandosi, l&#39;utente conferma di aver compiuto 15 anni e di essere consapevole dei propri
      diritti e doveri stabiliti nell&#39;avviso sul trattamento dei dati personali in conformità al Regolamento
      generale sulla protezione dei dati personali (GDPR) e autorizza il Comune di Capodistria a
      verificare l&#39;autenticità dei dati personali (nome e cognome, indirizzo permanente e data di
      nascita) ai fini del progetto PROPONGO - DECIDO nei registri ufficiali e nelle banche dati dei
      gestori del sistema di archiviazione dei dati personali</span></p>
      <p dir="ltr"><span>I dati personali ottenuti attraverso il modulo di registrazione sulla piattaforma online URL
      saranno utilizzati esclusivamente allo scopo di implementare il bilancio partecipativo nel
      Comune città di Capodistria e non saranno condivisi con terzi, tranne se ciò verrà richiesto dalla
      legge. La gestione dello strumento web avviene in collaborazione con l’Istituto Danes je nov
      dan, Inštitut za druga vprašanja, il quale funge da “responsabile contrattuale” ossia
      “responsabile” dei dati. L’istituto è tenuto, da contratto, ad utilizzare i dati personali
      esclusivamente per conto del Comune città di Capodistria e a garantire la protezione di essi in
      conformità alle normative applicabili e alle nostre istruzioni.</span></p>
      <p dir="ltr"><span>I dati forniti alla registrazione possono essere controllati, modificati oppure integrati nel singolo
      profilo, al quale si accede online. Sullo stesso profilo, si può scegliere l’opzione di ricevere
      notifiche di vario genere via posta elettronica.</span></p>

      <h3 dir="ltr"><span>Informativa sul trattamento dei dati personali</span></h3>
      <p dir="ltr"><span>Il titolare del trattamento dei dati personali (nome e cognome, indirizzo di residenza, e-mail e
      numero di telefono) è il COMUNE CITTÀ DI CAPODISTRIA, Via Giuseppe Verdi 10, Koper-
      Capodistria. La persona autorizzata per la protezione dei dati personali può essere contattata
      tramite posta elettronica varstvopodatkov@koper.si. L&#39;autorizzazione al trattamento dei vostri
      dati personali rappresenta la base giuridica per il trattamento. I vostri dati personali verranno
      trattati solamente per lo scopo per il quale sono stati raccolti (realizzazione del progetto), ovvero
      fino alla revoca, i dati sul sito web (in caso di consenso) saranno pubblicati fino alla
      realizzazione del progetto.
      L&#39;accesso ai vostri dati personali è riservato esclusivamente al personale autorizzato dipendete
      del Comune città di Capodistria e i responsabili per il trattamento dei dati personali a contratto.
      Ciascun individuo ha il diritto alla rettifica del consenso al trattamento o di accedere ai propri
      dati personali, di modificarli o cancellarli, limitare il loro trattamento o al ricorso, nonché al loro
      trasferimento. Per esercitare i vostri diritti scrivendo all&#39;indirizzo di posta elettronica:
      varstvopodatkov@koper.si.
      Nel caso in cui riteniate che nel processo del trattamento dei vostri dati personali siano stati lesi
      i vostri diritti, è possibile presentare un ricorso presso il Garante per la protezione dei dati
      personali - Informacijski pooblaščenec, Dunajska 22, 1000 Ljubljana.</span></p>

      <h3 dir="ltr"><span>Lo strumento web</span></h3>

      <p dir="ltr">
        <span>Lo strumento web promuove la partecipazione civica e consente una governance aperta,
        trasparente e democratica a livello comunale e nazionale. L&#39;App si basa sulla piattaforma open
        source Consul, creata con l’appoggio del comune di Madrid e adattata alle esigenze dei comuni
        sloveni dall&#39;Istituto Danes je nov dan.</span>
      </p>

      <h3 dir="ltr"><span>Registrazione</span></h3>


      <p dir="ltr">
        <span>Solamente gli utenti registrati possono presentare le proposte e votare i progetti nell’App. Gli
        utenti non registrati possono seguire i contenuti pubblicati, ma non possono né presentare
        proposte né votare.</p>


      <p dir="ltr"><span>Al momento della registrazione, ciascun utente deve indicare:</span></p>

      <ul style="list-style-type:disc;">
        <li dir="ltr">
          <p dir="ltr"><span>nome e cognome</span></p>
        </li>
        <li dir="ltr">
          <p dir="ltr"><span>indirizzo di posta elettronica</span></p>
        </li>
        <li dir="ltr">
          <p dir="ltr"><span>indirizzo</span></p>
        </li>
        <li dir="ltr">
          <p dir="ltr"><span>numero di telefono</span></p>
        </li>
        <li dir="ltr">
          <p dir="ltr"><span>Codice anagrafico unitario del cittadino (CAUC)</span></p>
        </li>
      </ul>

      <p dir="ltr">
        <span>L’account dell’utente viene attivato con la conferma dell&#39;e-mail di attivazione ricevuta dall&#39;utente
        al suo indirizzo di posta elettronica. La creazione di più account da parte di un utente è vietata.
        Nel caso in cui l&#39;utente non fornisce alcuna delle informazioni di cui sopra, non sarà possibile
        completare con successo la registrazione e di conseguenza l’utilizzo dell’App non sarà
        possibile.</span>
      </p>


      <p dir="ltr">
        <span>Gli utenti possono revocare la propria registrazione in qualsiasi momento inviando una richiesta
        di eliminazione del profilo al moderatore dello strumento all’indirizzo email consul@djnd.si.
        Dopo aver confermato l&#39;annullamento della registrazione, il gestore dello strumento eliminerà
        tutti i dati personali dell&#39;utente. Nonostante la cancellazione delle informazioni personali
        dell’utente, le proposte e le votazioni saranno conservate, sebbene attribuite ad un utente
        eliminato.</span>
      </p>


      <p dir="ltr" class="hide">
        <span>Uporabnik/-ca lahko kadarkoli prekliče svojo registracijo tako, da moderatorju orodja na e-poštni naslov consul@djnd.si pošlje zahtevo za izbris profila iz evidence uporabnikov. Po potrditvi preklica registracije bo upravljalec orodja Danes je nov dan iz evidence uporabnikov izbrisal vse osebne podatke. Kljub izbrisu osebnih podatkov uporabnika se predlogi, komentarji in podatki o glasovanjih hranijo, a so pripisani "izbrisanemu uporabniku".</span>
      </p>

      <h3 dir="ltr"><span>Accettazione del regolamento</span></h3>

      <p dir="ltr">
        <span>Al momento della registrazione gli utenti devono accettare le regole di partecipazione e di
        utilizzo dello strumento web.</span></p>

      <p dir="ltr">
        <span>Accettando tali regole, l&#39;utente dichiara che durante il processo di consegna delle proposte
        rispetterà la Costituzione e le leggi della Repubblica di Slovenia, il che significa in particolare
        che:</span>
      </p>

      <ul style="list-style-type:disc;">
        <li dir="ltr">
          <p dir="ltr">
            <span>non pubblicherà contenuti che incitano all&#39;intolleranza sessuale, raziale, etnica o
            religiosa o qualsiasi altra forma di discriminazione basata su circostanze individuali;</span>
          </p>
        </li>
        <li dir="ltr">
          <p dir="ltr">
            <span>non pubblicherà contenuti che potrebbero violare o interferire con i diritti personali di
            terzi;</span></p>
        </li>
        <li dir="ltr">
          <p dir="ltr">
            <span>non pubblicherà immagini o foto di proprietà di terzi o che utilizzino dati di terzi senza il
            consenso appropriato dei proprietari e di terzi;</span>
          </p>
        </li>
        <li dir="ltr">
          <p dir="ltr">
            <span>non pubblicherà minacce, non userà un linguaggio dispregiativo, volgare, degradante o
            offensivo;</span>
          </p>
        </li>
        <li dir="ltr">
          <p dir="ltr"><span>non pubblicherà opere di cui non detiene i diritti d&#39;autore e non utilizzerà lo strumento
          web per la distribuzione di contenuti protetti da copyright o contenuti di proprietà di altre
          persone fisiche o giuridiche.</span>
          </p>
        </li>
      </ul>

      <p dir="ltr">
        <span>La violazione delle suddette regole è punibile con la limitazione temporanea dell&#39;attività
        dell&#39;utente, la chiusura dell&#39;account dell&#39;utente e/o la cancellazione del contenuto.</span>
      </p>

      <h3 dir="ltr"><span>Utilizzo del portale</span></h3>


      <p dir="ltr">
        <span>L’App consente la co-decisione diretta su una parte del bilancio comunale. Gli utenti possono
        inviare, sostenere e votare le proposte di progetto e monitorare il loro sviluppo. Può partecipare
        qualsiasi cittadino del Comune città di Capodistria, che ha almeno 15 anni, previa registrazione
        nello strumento web. Per le attività dei minorenni sono responsabili i genitori ovvero i loro tutori.</span>
      </p>


      <p dir="ltr"><span>L’utente ha la possibilità di:</span></p>

      <ul style="list-style-type:disc;">
        <li dir="ltr">
          <p dir="ltr"><span>Presentare proposte</span></p>
        </li>
      </ul>

      <p dir="ltr" style="margin-left:36pt;">
        <span>Per la corretta presentazione di una proposta, l’utente deve obbligatoriamente fornire il
        titolo del progetto, la descrizione, può fornire anche una foto della proposta, l’ubicazione
        e altri documenti. Al momento dell’invio, il progetto viene accettato ed è visibile sul
        portale. L’utente può condividerlo sui social media, tramite e-mail oppure inoltrandone il
        link.</span>
      </p>

      <ul style="list-style-type:disc;">
        <li dir="ltr">
          <p dir="ltr"><span>Votazione delle proposte</span></p>
        </li>
      </ul>

      <p dir="ltr" style="margin-left:36pt;">
        <span>Gli utenti possono votare le proposte progettuali degli altri utenti. Ciascuna proposta può
        essere votata una sola volta. Per la votazione si ha a disposizione l’intero budget per
        l’area interessata, con ogni votazione però i fondi a disposizione diminuiscono. Inoltre,
        durante il processo di votazione, l’utente può sottrarre il voto ad una proposta.</span>
      </p>


      <ul style="list-style-type:disc;">
        <li dir="ltr">
          <p dir="ltr"><span>Monitoraggio delle proposte</span></p>
        </li>
      </ul>

      <p dir="ltr" style="margin-left:36pt;"><span>Durante l’ultima fase, lo strumento web acconsente il monitoraggio del processo.</span>
      </p>

      <h3 dir="ltr"><span>Cookie</span></h3>


      <p dir="ltr"><span>Vengono utilizzati solamente i cookie tecnici necessari per il funzionamento del sito.</span></p>

      <h3 dir="ltr">Proprietà intellettuale</h3>


      <p dir="ltr">
        <span>Il codice sorgente dello strumento web si trova sull’indirizzo: http://pp-koper.djnd.si ed è aperto
        ed accessibile a tutti. Il codice può essere usato gratuitamente da chiunque secondo le
        condizioni della licenza <a href="https://github.com/danesjenovdan/consul/blob/master/LICENSE-AGPLv3.txt">AGPLv3</a>.</span>
      </p>


      <h3 dir="ltr"><span>Limitazioni della responsabilità</span></h3>

      <p dir="ltr">
        <span>Gli utenti del portale utilizzano lo strumento web, le sue parti e i suoi contenuti esclusivamente
        su propria responsabilità.</span>
      </p>


      <p dir="ltr"><span>Il Comune città di Capodistria non si assume alcuna responsabilità per qualsiasi tipo di
      polemica diretta o indiretta, controversia e/o contenzioso che potrebbe derivare dalla
      pubblicazione o dalla distribuzione dei contenuti non autorizzati dai legittimi proprietari. Inoltre,
      non è responsabile per i danni derivanti dall&#39;uso dello strumento web e non garantisce l&#39;efficacia
      dello strumento online. In nessun caso non sarà ritenuto responsabile per eventuali danni
      derivanti dall&#39;uso o dall&#39;impossibilità di utilizzo dello strumento web, inclusi danni derivanti dalla
      perdita di guadagno o profitto atteso, lesione o perdita di avviamento, perdita di affari o perdita
      di dati.</p>


      <p dir="ltr">
        <span>Qualsiasi violazione dei diritti di proprietà intellettuale o industriale è responsabilità della
        persona che ha fornito il contenuto. Il Comune città di Capodistria non è inoltre responsabile per
        i contenuti che:</p>

      <ul style="list-style-type:disc;">
        <li dir="ltr">
          <p dir="ltr">
            <span>incitano all&#39;intolleranza sessuale, razziale, etnica o religiosa e qualsiasi altra forma di
            discriminazione basata su circostanze personali;</span>
          </p>
        </li>
        <li dir="ltr">
          <p dir="ltr">
            <span>violano o interferiscono con i diritti di terzi, oppure sono di proprietà di terzi o che
            utilizzano dati di terzi senza il consenso dei detentori dei diritti e di terzi.</span>
          </p>
        </li>
        <li dir="ltr">
          <p dir="ltr"><span>contengono minacce, linguaggio dispregiativo, volgare, degradante o offensivo;</span></p>
        </li>
        <li dir="ltr">
          <p dir="ltr">
            <span>sono opere protette da diritto d’autore per le quali l’utente non ne detiene i diritti. Ogni
            violazione della proprietà intellettuale o industriale è responsabilità della persona che
            presenta i contenuti.</span>
          </p>
        </li>
      </ul>


      <p dir="ltr"><span>Il Comune città di Capodistria si impegnerà a rimuovere tali contenuti dallo strumento web il più
      presto possibile e ad imporre sanzioni adeguate agli utenti.</p>


      <p dir="ltr">
        <span>In caso di controversie tra gli utenti dello strumento web e/o una terza parte, il Comune di
        Capodistria sarà esonerato da qualsiasi responsabilità per rivendicazioni civili, richieste di
        risarcimento danni o di qualsiasi natura relative al contenuto dello strumento web e/o derivanti
        da procedimenti giudiziari.</p>


    </div>
  </div>
</div>
